TELEGRAM_BOT_TOKEN=7560072561:AAH01s208c-EKJdrfnp_-gz9eI57PMaINIc
CHAT_ID=-12345678
###
TRELLO_API_KEY=7bc2d887806cdc5702856e05344e98fe
TRELLO_TOKEN=ATTA....
TRELLO_BOARD_ID=GrVFg1j2
###
###
WEBHOOK_URL=example.com
PORT=1234
###
# DEBUG INFO WARNING ERROR CRITICAL
LOGGING_LEVEL=INFO
